label {
    font-weight: bold;
  }

textarea {
    height: 30vh;
    width: 30vw;
    border-radius: 10px;      
  }

h1 {
    font-family: sans-serif;
  }

.container-cadastro {
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;    
    height: 80vh;
    width: 80vw;        
  }

  button {
    background-color: #417ec0;
    color: aliceblue;
    font-size: 1.5em;
    border-radius: 10px;
  }

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
  }    

.logo{
    height: auto;
    width: 8em;
  }

.subtitle{
    color: darkgrey;
    margin-top: 0px;
  }

.dates-forms{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
  }
