*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    background: #242323;
}

.fotofundo{
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    /* background: url('../Imagens/Univap.png')no-repeat; */
    background-size: cover;
    background-position: center;
}

.fotofundo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5; /* adjust this value to make the image darker or lighter */
}

li{
    list-style: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    background: #000;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 130;
}

.navbar{
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    user-select: none;
}

.navbar .links{
    display:flex;
    position: relative;
    padding-left: 32vw;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display:block;
}

.links a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.2vh;
}

.links a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s; 
}

.links a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

header .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}

header .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
}

.dropdown_menu{
    display: block;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: #4B0082;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 100;
}

.dropdown_menu.open{
    height: 90px;
    border: 2px solid #000;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.2vh;
}

.dropdown_menu a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s; 
}

.dropdown_menu a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.dropdown_menu .btnLogin-popup{
    width: 100%;
    justify-content: center;
}

@media (max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }

}

.Comentarios{
    margin-top: 5rem;
    padding: 10px;
    width: 60%;
    background: #535353;
    display: flex;
    align-items: flex-start;
    z-index: 10;
}

.autor .fotoperfil{
    display: flex;
    justify-content: space-around;
    height: 3.9rem;
    width: 3.9rem;
    border-radius: 50%;
    overflow: hidden;
}

.comentario .fotoperfil{
    display: flex;
    justify-content: space-around;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    overflow: hidden;
}

.fotoperfil a {
    margin: 0;
    padding: 0;
}

.fotoperfil img {
    width: 100%;
    height: auto;
}

.autor .nome{
    /* position: relative; */
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.datahora{
    display: block;
    /* position: relative; */
    font-size: 0.9em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.nomedata {
    padding-left: 2%;
    padding-top: 0.5%;
}

.autor{
    padding: 3px;
    display: flex;
}

.input_txt2::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}

.input_txt2::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

.input_txt2::-webkit-scrollbar-thumb {
    background-color: #ffffff;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: transparent;  /* creates padding around scroll thumb */
}

#post{
    width: 100%;
}

.comentar td{
    width: 80%;
}

.comentar .input_txt2{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #ffffff;
    font-weight: 600;
    padding: 0px 8px 0 5px;
    resize: none;
}

.comentar .input-box3{
    position: relative;
    width: 100%;
    height: 4.6rem;
    border: 2px solid #b1adad;
    background: #3d3c3c;
    margin-top: 20px;
    margin-left: 0px;
}

.enviarcomentario{
    color: #fff;
    display: flex;
    background: #7223a5;
    border: 2px solid #b1adad;
    font-size: 0.9em;
    margin-top: 0.3rem;
    margin-left: auto;
    padding: .3rem;
    cursor: pointer;
}

/* .comentario .fotoperfil{
    display: flex;
    justify-content: space-around;
    height: 2rem;
    width: auto;
    border-radius: 50%;
    overflow: hidden;
} */

.comentario{
    padding: 3px;
    display: flex;
}

.trespontos{
    color: #fff;
    display: flex;
    background: transparent;
    border: transparent;
    font-size: 1.5em;
    margin-top: -1rem;
    margin-left: auto;
    padding: .3rem;
    cursor: pointer;
}

.pontos{
    display: flex;
    margin-left: auto;
    flex-direction: column;
}

.comentario .conteudo_comentario {
    padding: 0px 8px 0 5px;
}

.comentario .conteudo_comentario a{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    color: #ffffff;
    font-weight: 600;
    resize: none;
}

.comentario a1{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: .9em;
    color: #ffffff;
    font-weight: 300;
    padding: 0px 8px 0 5px;
    resize: none;
}

.comentario a2{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: .8em;
    color: #ffffff;
    font-weight: 600;
    padding: 0px 8px 0 5px;
    resize: none;
}

.baredit{
    display: none;
    flex-direction: column;
    border: 2px solid #fff;
    border-radius: 6px;
    height: 3.4rem;
    width: 5rem;
    align-items: center;
    background: #4B0082;
}

.baredit a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.2vh;
}

.baredit a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s; 
}

.baredit a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.baredit button{
    background: transparent;
    margin-top: .3rem;
    border: transparent;
    cursor: pointer;
}